.header {
	grid-area: header;
	padding: 12px;
  background: linear-gradient(90deg, var(--color-primary-start), var(--color-primary-end));
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
  color: white;
}

.buttons {
  display: flex;
  gap: var(--spacing);
}