.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  margin: 0;
  background: var(--color-bg);
  color: var(--text-color);
}

.layoutDark {
  --text-color:#E0E0E0;
  --color-bg:#1A1A2E; 
  --color-primary-start: #1b1b1b;
  --color-primary-end: #624c46;
}

.main {
  grid-area: main;
  overflow: auto;
  padding: 12px;
  justify-items: center;
}