.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  max-width: 800px;
  min-width: 600px;
  align-self: center;
  background: #ecd2ff17;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.review {
  margin-top: var(--spacing);
}

@media only screen and (max-width: 600px) {
  .container {
    min-width: 100%;
  }
}