:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
  padding: 12px;
  border: 1px solid black;
}

main {
  grid-area: main;
  overflow: auto;
  padding: 12px
}

footer {
  grid-area: footer;
  padding: 12px;
  border: 1px solid black;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tab-navigation__tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
}

.tab-navigation__tab {
  cursor: pointer;
}

.tab-navigation__tab.m_selected {
  border-bottom: 1px solid black;
}